.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  margin: 0 auto;
  max-width: 483px;
  width: 100%;

  input {
    margin-bottom: 10px;
  }

  button {
    max-width: 150px;
    width: 100%;
    margin: 14px auto 0;
  }
}