.main-page {
  .main-model-table {
    margin: 20px 0;
    max-height: 400px;
    .table-column {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .main-table {
    margin: 20px 0;
    --table-width: 190px;

    .table-column {
      grid-template-columns: var(--table-width) 1fr repeat(3, var(--table-width));
    }
    .table-header {
      grid-template-columns: var(--table-width) 1fr var(--table-width) calc(var(--table-width) * 2);
      align-items: center;

      button {
        margin-left: auto;
      }
      &-item:last-child {
        padding: 5px;
      }
    }
    .btn-red {
      color: var(--red);
      font-size: 20px;
    }
    .btn-orange {
      color: var(--orange);
      font-size: 20px;
    }
  }
}