.dashboard-page {
  padding: 60px 60px 0;

  @media (max-width: 1600px) {
    padding: 30px 30px 0;
  }
  @media (min-width: 3200px) {
    padding: 100px 100px 0;
  }
  .table-size {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 48px;

    p {
      font-size: 20px;
      font-weight: 600;

      @media (min-width: 2500px) {
        font-size: 30px;
      }
      @media (min-width: 3300px) {
        font-size: 40px;
      }
    }
  }

  .react-select {
    &__control {
      width: 90px;
      border-radius: 8px !important;
      border-color: #DDE2E4!important;

      &--is-focused {
        border-color: #00386C!important;
        box-shadow: none !important;
      }
      &--menu-is-open {
        .react-select__indicator svg {
          transform: rotate(180deg);
        }
      }
    }
    &__indicator svg {
      transition: .3s;
    }
    &__indicator-separator {
      display: none;
    }
    &__menu {
      width: 90px !important;
      border-radius: 8px !important;
      z-index: 3 !important;
    }
    &__option {
      color: #00172C!important;
      &--is-selected {
        background-color: #DDDADA !important;
      }
    }
  }
}