* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
}

input {
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --white: #fff;
  --black: #000;
  --blue: #00386C;
  --dark-blue: #00172C;
  --grey: #EDEDED;
  --dark-grey: #E4E4E4;
  --light-grey: #F6F6F6;
  --orange: #FFA959;
  --green: #1C8D50;
  --red: #FF5959;
  --light-red: #FFDFDF;
  --header-height: 80px
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--light-grey);
}

.content {
  display: grid;
  grid-template-columns: 400px 1fr;
  min-height: calc(100vh - var(--header-height));
}
.page-content {
  padding: 80px 48px;
}

.scrollable {
  scrollbar-width: thin;
  scrollbar-color: #00386C var(--light-grey);

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
    border: 2px solid #00386C;
  }

  &::-webkit-scrollbar-track {
    background: #00386C;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-corner {
    background: #00386C;
  }
}

.btn {
  font-size: 20px;
  border-radius: 7px;
  padding: 16px 25px;
  transition: .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  &-blue {
    background: var(--blue);
    color: var(--white);

    &:hover {
      opacity: .8;
    }
  }
  &-green {
    background: var(--green);
    color: var(--white);

    &:hover {
      opacity: .8;
    }
  }
  &-red {
    background: var(--red);
    color: var(--white);

    &:hover {
      opacity: .8;
    }
  }
  &-orange {
    background: var(--orange);
    color: var(--white);

    &:hover {
      opacity: .8;
    }
  }
}

.no-rotate {
  transition: .3s;

}
.rotate {
  transition: .3s;
  transform: rotate(180deg);
}

.base-label {
  color: var(--dark-blue);
  padding-bottom: 4px;
  font-size: 14px;
}
.base-input {
  color: var(--dark-blue);
  background: var(--grey);
  border-radius: 6px;
  padding: 10px;
  font-size: 14px;

  &:focus {
    outline: var(--blue) 1px solid;
  }
  &.error {
    outline: var(--red) 1px solid;
  }
}

.table {
  background-color: var(--light-grey);
  position: relative;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow-y: auto;
  max-height: calc(100vh - 230px);

  &-content {
    border: 1px solid #B6B6B6;
    border-bottom: none;
  }
  &-column {
    display: grid;
    text-align: center;
    border-bottom: #B6B6B6 1px solid;

    > div {
      border-right: #B6B6B6 1px solid;
      font-weight: 600;
      font-size: 20px;

      &:last-child {
        border-right: none;
      }
      @media (min-width: 2500px) {
        font-size: 30px;
      }
      @media (min-width: 3200px) {
        font-size: 40px;
      }
    }
  }
  &-header {
    position: sticky;
    top: 0;
    border-radius: 5px;
    overflow: hidden;
    border-bottom: none;

    &-item {
      background: #00172C;
      color: #fff;
      padding: 24px;

      @media (max-width: 1600px) {
        padding: 12px;
      }
      @media (min-width: 3200px) {
        padding: 48px;
      }

      p {
        font-size: 20px;

        @media (max-width: 900px) {
          font-size: 18px;
        }
      }
    }

    @media (min-width: 3200px) {
      border-radius: 20px;
    }
  }
  &-item {
    color: #00172C;
    padding: 18px;

    p {
      font-size: 20px;
    }
    &.error {
      background: #FFDFDF;
      color: #FF5959;
    }
    @media (min-width: 3200px) {
      padding: 36px;
    }
  }
}